.visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   width: 1px;
   position: absolute;
   white-space: nowrap;
}

.btn-save,
.btn-add {
   background-color: #007bff;
   border: 0;
   color: white;
   padding: 7px 35px 9px;
   margin: 0 0 0 20px;
}
.btn-add {
   margin: 20px 0 0 0;
}
.btn-save:active,
.btn-add:active {
   background-color: #084298;
}

.status {
   color: #198754;
}
.error {
   color: red;
}

.addevent {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
}
