.visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   width: 1px;
   position: absolute;
   white-space: nowrap;
}

.btn-save {
   background-color: #007bff;
   border: 0;
   color: white;
   padding: 7px 22px 9px;
   margin-top: 15px;
}
.btn-save:active {
   background-color: #084298;
}
